# 6G-RESCUE Backend Configuration
JUPYTERHUB_URL={{ backend_env.jupyterhub_url }}
JUPYTERHUB_USER={{ backend_env.jupyterhub_user }}
JUPYTERHUB_TOKEN={{ backend_env.jupyterhub_token }}
JETSON_IP={{ backend_env.jetson_ip }}
MQTT_BROKER={{ backend_env.mqtt_broker }}
MQTT_PORT={{ backend_env.mqtt_port }}
BACKEND_HOST={{ backend.host }}
BACKEND_PORT={{ backend.port }}

# Python path
PYTHONPATH={{ backend.directory }}